TSMS_SECRET_KEY=change-me
TSMS_DEBUG=1
TSMS_ALLOWED_HOSTS=127.0.0.1,localhost
TSMS_DB_BACKEND=sqlite
TSMS_DB_NAME=tsms
TSMS_DB_USER=tsms
TSMS_DB_PASSWORD=tsms
TSMS_DB_HOST=127.0.0.1
TSMS_DB_PORT=5432
